<ion-header>
  <ion-toolbar>
    <ion-title>Pelicula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pelicula" id="pelicula">
    <h1>{{pelicula.Title}}</h1>
    <img src="{{pelicula.Poster}}" width="500px" height="600px">
    <p><strong>Fecha de lanzamiento:</strong> {{pelicula.Released}}</p>
    <p><strong>Idiomas:</strong> {{pelicula.Language}}</p>
    <p><strong>Sinopsis:</strong> {{pelicula.Plot}}</p>
    <p><strong>Premios:</strong> {{pelicula.Awards}}</p>
    <ion-button (click)="volver()">Buscar de nuevo</ion-button>
</ion-content>
