<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscador de peliculas con la api omdbapi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

      <form (ngSubmit)="busquedaApi()">
        <ion-item lines="none">
          <label for="title">titulo:</label>&nbsp;
          <input type="text" [(ngModel)]="titulo" name="title">
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" block>Buscar pelicula</ion-button>
        </ion-item>
    
      </form>
    
  </div>
</ion-content>
